<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Linq2SQL.Properties.Settings.Ktra_OOP_week13ConnectionString"
            connectionString="Data Source=DESKTOP-MG8NGNH\SQLEXPRESS;Initial Catalog=Ktra-OOP-week13;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>